body{
    font-family: 'Poppins', sans-serif;
}

.flexible-container{
    display: flex;
    margin-bottom: 60px;
   
    
}

.focus-text{
    font-size: 50px;
    font-weight: 700;
    border-left: 5px solid #ff5959;
   
}

.text-color{
    color: #ffad5a;
}

.explore-button{
    font-size: 16px;
    color: #fff;
    background-color: #ff5959;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    
}

.mission-text{
    width: 50%;
    margin: 80px 0px 0px 100px;
    padding-right: 30px;
}

.mission-text p{
    padding-bottom: 20px;
}

.mission-image{
    width: 80%;
    padding-left: 100px;

}

.mission-image img{
    width: 60%;
    display: block;
    padding-left: 145px;
}

.scroll-text{
    margin-top: 40px;
}

.head-text{
    font-size: 50px;
    text-align: center;
}


.head-text span{
   color: #ffad5a;
}

.mission-contain{
    width: 25%;
    background-color: #edf5f6;
    margin-left: 100px;
    padding: 30px 15px 30px 15px;
    border-radius: 20px;
}

.vission-contain{
    width: 25%;
    background-color: #ffeeee;
    margin-left: 20px;
    padding: 30px 15px 30px 15px;
    border-radius: 20px;
}

.goals-contain{
    width: 25%;
    background-color: #fff4d6;
    margin-left: 20px;
    padding: 30px 15px 30px 15px;
    border-radius: 20px;
}

.mission-contain img, .vission-contain img,
.goals-contain img{
    width: 30%;
}


.text-contain{
    font-size: 20px;
}

.para-contain{
    font-size: 16px;
    text-align: justify;
}

.develop-section{
    width: 50%;
    margin-left: 100px;
}


.develop-section img{
    width: 80%;
}

.develop-text{
    width: 50%;
    margin-right: 100px;
}


.develop-text h3{
    font-size: 40px;
    font-weight: 700;
}


.develop-button{
    font-size: 16px;
    color: #fff;
    background-color: #ff5959;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 5px;
    
}

#develop-background{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18%;
    bac
    
}

.develop-text p{
    padding-bottom: 20px;
    text-align: justify;
}